body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: #0d1321;
    height: 100vh;
}

#Todo{
    height: auto;
    width: 500px;
   background-color: #1d2d44;
   border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 50px;
}

#todo-input-box{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 500px;

}
.todo-input{
    height: 30px;
    width: 250px;
}

#Todo-list-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    gap: 20px;
}

.todo-divs{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: auto;
    width: 300px;
   text-overflow: clip;
   align-items: center;
   border: 1px solid black;
   padding: 10px;
   color:antiquewhite;
   overflow-wrap: break-word;
}

.todo-div-button{
   
    height: 30px;
    width: 55px;
    border: 0px;
    border-radius: 8px;
    
}

#todo-div-button-edit{
    background-color: #f3b700;

}

#todo-div-button-delete{
    background-color: #ad2831;
}